<%- include('partials/header.ejs'); -%>



<h1>Contact</h1>
<p>Email : iam.hemanthhs@gmail.com <h4>(Email is the best way to reach me out)</h4></p><br>
<p>Phone : +91-9448226877 <h4>(Dead most of the time)</h4></p>

<%- include('partials/footer.ejs'); -%>
